# Project exclude paths
/.gradle/
/Java Podstawy/Wprowadzenie/Pierwsze zadanie/build/
/Java Podstawy/Wprowadzenie/Pierwszy quiz/out/
/Java Podstawy/Wprowadzenie/Pierwszy quiz/out/production/classes/
/Java Podstawy/Wprowadzenie/Witaj świecie/out/
/Java Podstawy/Wprowadzenie/Witaj świecie/out/production/classes/
/Java Podstawy/Zadania/task01/build/
/Java Podstawy/Zadania/task01/out/
/Java Podstawy/Zadania/task01/out/production/classes/
/Java Podstawy/Zadania/task02/build/
/Java Podstawy/Zadania/task03/build/
/Java Podstawy/Zadania/task04/build/
/Java Podstawy/Zadania/task05/build/
/Java Podstawy/Zadania/task06/build/
/Java Podstawy/Zadania/task07/build/
/Java Podstawy/Zadania/task08/build/
/Java Podstawy/Zadania/task09/build/
/Java Podstawy/Zadania/task09/out/
/Java Podstawy/Zadania/task09/out/production/classes/
/Java Podstawy/Zadania/task10/build/
/Java Podstawy/Zadania/task11/build/
/Java Podstawy/Zadania/task11/out/
/Java Podstawy/Zadania/task11/out/production/classes/
/Java Podstawy/Zadania/task12/build/
/Java Podstawy/Zadania/task12/out/
/Java Podstawy/Zadania/task12/out/production/classes/
/Java Podstawy/Zadania/task13/build/
/Java Podstawy/Zadania/task14/build/
/Java Podstawy/Zadania/task15/build/
/Java Podstawy/Zadania/task15/out/
/Java Podstawy/Zadania/task15/out/production/classes/
/Java Podstawy/Zadania/task16/build/
/Java Podstawy/Zadania/task17/build/
/Java Podstawy/Zadania/task18/build/
/Java Podstawy/Zadania/task18/out/
/Java Podstawy/Zadania/task18/out/production/classes/
/Java Podstawy/Zadania/task19/build/
/Java Podstawy/Zadania/task20/build/
/Java podstawy - programowanie/Zadania/task01/build/
/Java podstawy - programowanie/Zadania/task02/build/
/Java podstawy - programowanie/Zadania/task03/build/
/Java podstawy - programowanie/Zadania/task04/build/
/Java podstawy - programowanie/Zadania/task05/build/
/Java podstawy - programowanie/Zadania/task05/out/
/Java podstawy - programowanie/Zadania/task05/out/production/classes/
/Java podstawy - programowanie/Zadania/task06/build/
/Java podstawy - programowanie/Zadania/task07/build/
/Java podstawy - programowanie/Zadania/task08/build/
/Java podstawy - programowanie/Zadania/task09/build/
/Java podstawy - programowanie/Zadania/task09/out/
/Java podstawy - programowanie/Zadania/task09/out/production/classes/
/Java podstawy - programowanie/Zadania/task10/build/
/Java podstawy - programowanie/Zadania/task10/out/
/Java podstawy - programowanie/Zadania/task10/out/production/classes/
/Java podstawy - programowanie/Zadania/task11/build/
/Java podstawy - programowanie/Zadania/task11/out/
/Java podstawy - programowanie/Zadania/task11/out/production/classes/
/Java podstawy - programowanie/Zadania/task12/build/
/Java podstawy - programowanie/Zadania/task13/build/
/Java podstawy - programowanie/Zadania/task14/build/
/Java podstawy - programowanie/Zadania/task15/build/
/Java podstawy - programowanie/Zadania/task16/build/
/Java podstawy - programowanie/Zadania/task17/build/
/Java podstawy - programowanie/Zadania/task18/build/
/Java podstawy - programowanie/Zadania/task18/out/
/Java podstawy - programowanie/Zadania/task18/out/production/classes/
/Java podstawy - programowanie/Zadania/task19/build/
/Java podstawy - programowanie/Zadania/task20/build/